.html {
   margin: 0;
   padding: 0;
}
.body {
   margin: 0;
   padding: 0;
}

.main {
   background-image: url(https://data.1freewallpapers.com/detail/city-street-movement-buildings-markup-new-york.jpg);
   background-position: bottom;
   background-size: cover;
   overflow: auto;
   height: 70vh;
   left: 71vh;
}
.footer {
   /* background-image: url(https://data.1freewallpapers.com/detail/city-street-movement-buildings-markup-new-york.jpg); */
   height: 30vh;
   background-color: #ccc;
}

.main .title {
   border: 1px solid #fff;
   width: 300px;
   height: 50px;
   text-align: center;
   color: #fff;
   top: calc(80vh - 45%);
   left: 50%;
   position: absolute;
   margin-left: -150px;
}
.div {
   background-image: url(https://i.pinimg.com/originals/00/36/c5/0036c56729db8e22e15a7563cf3275ec.png);
   background-position: bottom;
   overflow: auto;
   height: 70vh;
   left: 71vh;
}

body {
   margin: 0;
   padding: 0;
   background: url(https://data.1freewallpapers.com/detail/city-street-movement-buildings-markup-new-york.jpg)
      no-repeat 0px 0px;
   min-height: 100vh;
   background-size: cover;
   font-family: 'Raleway', sans-serif;
}

h1 {
   margin: 0;
   color: #000000;
   text-align: center;
   font-size: 50px;
   font-weight: 500;
   letter-spacing: 2px;
   padding: 50px 0;
}

h2 {
   margin: 0;
   color: #fff;
   font-size: 25px;
   font-weight: bold;
   text-align: center;
   letter-spacing: 1px;
   padding-bottom: 30px;
}

p.w3l-register-p {
   color: #eee;
   font-size: 13px;
   text-align: center;
   margin-top: 2em;
}

.w3l-login-form {
   background: rgba(0, 0, 0, 0.4117647058823529);
   max-width: 500px;
   margin: auto;
   padding: 3em;
   border-radius: 10px;
   box-sizing: border-box;
   backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
}

.separation {
   color: #fff;
   padding: 16px 0;
   display: flex;
   align-items: center;
}

.separation .b,
.separation .a {
   background: #fff;
   height: 1px;
   width: 100%;
}

.separation p {
   white-space: nowrap;
   padding: 0 12px;
}

.group {
   display: flex;
   padding: 15px 5px;
   background-color: #ffffff;
   align-items: center;
}

.group i {
   color: #fc3955;
   font-size: 20px;
   padding: 0 10px;
}

.w3l-form-group {
   margin: 20px 0;
}

.w3l-form-group label {
   display: block;
   text-transform: uppercase;
   font-size: 13px;
   color: #d2d2d2;
   letter-spacing: 2px;
   margin-bottom: 10px;
   font-style: italic;
}

input[type='text'],
input[type='password'] {
   width: 100%;
   border: none;
   box-sizing: border-box;
   background: transparent;
   color: #000;
}

input[type='text']:focus,
input[type='password']:focus {
   outline: none;
}

button {
   background: #fc3955;
   color: #ffffff;
   font-size: 13px;
   text-transform: uppercase;
   letter-spacing: 1px;
   border: none;
   padding: 12px 60px;
   cursor: pointer;
   width: 100%;
   border-radius: 6px;
}

button:hover {
   background-color: #00bcd4;
   transition-duration: 5s;
}

.forgot {
   display: flex;
   justify-content: space-between;
   margin: 20px 0;
}

a {
   color: #eee;
   font-size: 14px;
   text-decoration: none;
}

.forgot p {
   color: #ffffff;
   text-align: center;
   margin: 0px;
   font-size: 13px;
}

.register {
   color: #00bcd4;
   text-decoration: none;
}

/*--footer--*/

p.copyright-agileinfo {
   font-size: 15px;
   letter-spacing: 2px;
   color: #fff;
   font-weight: 300;
}

footer p a {
   display: inline-block;
   color: #fff;
   text-decoration: underline;
}

footer p a:hover {
   color: #fff;
   text-decoration: none;
   -webkit-transition: 0.5s all;
   -o-transition: 0.5s all;
   -moz-transition: 0.5s all;
   -ms-transition: 0.5s all;
   transition: 0.5s all;
}

footer {
   padding: 2em 0;
   text-align: center;
}
/*--//footer--*/

/*-- /responsive design --*/

@media (max-width: 768px) {
   h1 {
      font-size: 47px;
   }
}

@media (max-width: 667px) {
   h1 {
      font-size: 45px;
   }
}

@media (max-width: 640px) {
   p.copyright-agileinfo {
      letter-spacing: 1px;
   }
   h1 {
      font-size: 43px;
   }
}

@media (max-width: 568px) {
   h1 {
      font-size: 40px;
   }
   p.copyright-agileinfo {
      font-size: 14px;
   }
}

@media (max-width: 480px) {
   .w3l-login-form {
      margin: 0 3vw;
   }
   h1 {
      font-size: 38px;
   }
   p.copyright-agileinfo {
      line-height: 1.8em;
   }
}

@media (max-width: 414px) {
   h1 {
      font-size: 34px;
   }
}

@media (max-width: 384px) {
   h1 {
      font-size: 30px;
   }
}

@media (max-width: 320px) {
   h1 {
      font-size: 25px;
   }
   .forgot p {
      text-align: left;
   }
   .forgot {
      display: block;
   }
}

/*-- /responsive design --*/
